<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-3">
    <h3>Students</h3>
    <a href="/students/new" class="btn btn-primary mb-3">Add Student</a>
    <table class="table table-bordered">
        <thead><tr><th>ID</th><th>Name</th><th>Email</th><th>Actions</th></tr></thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.studentNumber}"></td>
            <td th:text="${s.firstName + ' ' + s.lastName}"></td>
            <td th:text="${s.email}"></td>
            <td>
                <a th:href=\"@{'/students/edit/' + ${s.id}}\" class=\"btn btn-warning btn-sm\">Edit</a>
                <a th:href=\"@{'/students/delete/' + ${s.id}}\" class=\"btn btn-danger btn-sm\">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
